/*headder section*/
/*heading styles*/
.HeaderContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  &__mainHeading {
    
    margin: 0px;
    padding: 0px;
    font-family: serif;
    font-weight: 515;
    font-size: 2rem;
  }
  &__subHeading {
    margin-top: 0px;
    padding-top: 0px;
    letter-spacing: 0.5rem;
    color: #8c8b8c;
    font-size: 0.7rem;
  }
}

.HeaderContainer h2 {
  color: red;
  margin-bottom: 0.5rem;
  margin-top: 0px;
}

/* navigation bar styles*/

.navbar{
  &__ulattributes{
    list-style: none;
  }
  &__liattributes{
    display: inline-block;
    margin: 10px 15px 10px 15px;
  }
  &__navlinks{
  color: rgb(148, 144, 144);
  font-weight: 700;
  font-size: 1.05rem;
  transition: color 0.5s;
  text-decoration: none;
  }
  &__navlinks:hover{
    color: red;
  }
}

.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}
.navbar-links{
  display: none;
}

.Options {
  display: none;
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul{
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li :hover{
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 569px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .Topbar {
    display: flex;
    font-size: 1.5rem;
    margin: 1.5rem;
  }

  .navbar1{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active{
    display: flex;
  }
  .navbar__navlinks{
    display: none;
  }
}
