.HomeContainer {
  position: relative;
}
img{
  margin: 0px;
  padding: 0px;
}
.HomeContainer img   {
  height: 80vh;
  width: 100vw;
  background-repeat: no repeat;
  background-size: contain;
}
.InviteContainer  {
  position: absolute;
  top: 22vh;
  left: 6vw;
  text-align: center;
  &__mainHeading{
    
      color: white;
      font-family: cursive;
      font-style: italic;
      font-size: 2.5rem;
  }
  &__subHeading{
    color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.7rem;
  margin-bottom: 45px;
  }
}

.AboutContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  width: 100;
  position: relative;
  text-align: center;
  background-color: #E5DBCC;
  &__mainHeading{
    font-size: 2.0rem;
    font-family: cursive;
    font-style: italic;
  }
  &__subHeading{
    font-size: 2.5rem;
    }
  &__paragraph{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(85, 79, 79);
    width: 82%;
    text-align: justify;
  }
  &__blackline{
    border-bottom: 2px solid black;
    width: 7vw;
  }
  &__ReadMorebutton{
    color: red;
    background-color: transparent;
    font-size: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 5px solid red;
    margin-top: 30px;
}
  &__Redline{
    background-color:#E5DBCC;
    border-left: 2px solid red;
    height: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
 }
 &__TopRedline{
  background-color:#E5DBCC;
  border-left: 2px solid red;
  height: 20vh;
  margin-top: -10vh;
  margin-bottom: 5vh;
}
 }


.InviteContainer button{
  color: white;
  background-color: transparent;
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 5px solid white;
  
}